[Unit]
Description=SpeedBox Flask App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/speedbox
ExecStart=/opt/speedbox/venv/bin/python app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
